@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

html {
  height: 100%;
  width: auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav {
  height: 100px;
  width: 1200px;
  grid-column: 2/3;
  display: flex;
}

.mini {
  position: fixed;
  top: 80px;
  right: 210px;
  width: 200px;
  z-index: 1;
  background: #fff;
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease 0.2s;
  transition: opacity 0.2s ease 0.2s;
}
.mini.visible {
  padding: 40px;
  opacity: 1;
  visibility: visible;
}
.mini .products {
  font-weight: bold;
  font-size: 14px;
}
nav .mini p {
  font-size: 11px;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
main {
  width: 100%;
}

.total {
  display: flex;
  align-items: center;
  text-align: right;
}

.total img {
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.total-p {
  display: flex;
  align-items: flex-end;
  text-align: right;
  margin-left: 450px;
  color: #c58e64;
}

.menu {
  align-items: flex-start;
}

.menu {
  align-items: flex-start;
  position: relative;
  display: flex;
  margin-top: 35px;
  cursor: pointer;
  margin-left: 15px;
  padding: 2px;
}

.logo p {
  align-items: center;
}

.logo {
  align-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-basis: content;
  margin-left: 400px;
}

footer {
  position: relative;
  margin-top: 100px;
  text-align: center;
  height: 108px;
}
.sorting-nav {
  margin-left: 0px;
}
.sorting-nav ul li {
  margin-top: 1rem;
  cursor: pointer;
  margin-bottom: 25px;
}

.sorting-nav ul li:hover {
  border-bottom: 1px solid #c58e64;
  color: #c58e64;
  transition: 0.3s ease;
  transform: scale(1.1);
  margin-bottom: 20px;
}

.sorting-nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  align-content: center;
  text-align: center;
  left: 300px;
  width: 800px;
  height: 60px;
  position: relative;
}

.products-container {
  position: relative;
  width: 1164px;
  height: 776px;
  left: 100px;
  top: 90px;
  gap: 5px;
  right: 119px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-card {
  width: 293px;
  height: 372px;
  border: 0.5px solid #c58e64;
  border-radius: 5px;
}

.card-header {
  position: relative;
  top: 20px;
  height: 30px;
}

.card-header p {
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  left: 90px;
  width: 100px;
}

.card-body {
  height: 251px;
  padding-top: 50px;
  align-content: center;
  display: flex;
  align-items: center;
}

.card-body img {
  width: 50%;
  height: 50%;
  left: 3rem;
  position: relative;
}

.add-cart {
  position: relative;
  background: #ffffff;
  color: #d2bba9;
  font-size: 16.5px;
  border: 1px solid #d2bba9;
  width: 130px;
  height: 40px;
  left: 31px;
  top: 14px;
  border-radius: 10px;
}

.add-cart:hover {
  background-color: #be865b;
  color: #ffffff;
  transition: width 0.3s;
  width: 150px;
}

.card-footer p {
  position: relative;
  margin-top: -10px;
  width: 82px;
  height: 28px;
  left: 191px;
}

.fa-plus {
  float: right;
  margin-right: 10px;
  text-align: center;
}

.fa-plus:hover {
  display: none;
  visibility: hidden;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 357px;
  left: 504px;
  position: relative;
  top: 23px;
  height: 25px;
}

footer ul li {
  margin-top: 5px;
}
footer p {
  position: absolute;
  left: 540px;
  top: 68px;
}

.count {
  background: #be865b;
  border: 1px solid #be865b;
  color: #fff;
  border-radius: 50%;
  left: 40px;
  position: relative;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: -15px;
  visibility: hidden;
  padding: 2px;
}

.cart {
  width: 300px;
  /* height: 500px; */
  background: red;
  float: right;
  z-index: 1;
  visibility: hidden;
}

.push {
  height: 372px;
}

.quickviewContainer {
  position: fixed;
  height: 100vh;
  width: 400px;
  background: rgba(0, 0, 0, 0.9);
  top: 70px;
  right: -100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 30px;
  color: #fff;
}
.quickviewContainer .close {
  height: 20px;
  width: 20px;
  float: right;
  cursor: pointer;
}
.quickviewContainer .close:before,
.quickviewContainer .close:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.quickviewContainer .close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.quickviewContainer .headline {
  margin-bottom: 30px;
  font-size: 18px;
}
.quickviewContainer .description {
  font-size: 12px;
  margin-bottom: 20px;
}
.quickviewContainer img {
  display: inline-block;
  border-radius: 4px;
  margin: 5px;
}
.quickviewContainer.active {
  right: 0;
}

@media screen and (max-width: 464px) {
  header {
    height: 116px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  .logo {
    margin-left: 45px;
  }

  nav {
    height: 100px;
    width: auto;
    grid-column: 2/3;
    display: inline-flex;
    justify-content: space-between;
  }
  .total {
    margin-left: 50px;
  }

  .total-p {
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-right: -15px;
    margin-left: 0px;
    padding-top: 5px;
  }

  .total img {
    height: 25px;
    margin-right: 15px;
    cursor: pointer;
  }

  .sorting-nav {
    margin-left: 0px;
  }

  .sorting-nav ul {
    left: 0px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    height: auto;
  }

  .products-container {
    width: auto;
    height: auto;
    grid-template-columns: 1fr;
    margin-left: 50px;
    margin-right: 50px;
    left: 0px;
  }

  .product-card {
    margin-left: 30px;
    width: auto;
    height: auto;
  }

  .add-cart {
    left: 21px;
  }

  .card-footer p {
    background: transparent;
    left: 171px;
  }

  footer ul {
    left: 0px;
    top: 0px;
    width: auto;
  }

  footer p {
    left: 40px;
  }

  .push {
    height: 72px;
  }

  .quickviewContainer {
    visibility: hidden;
  }
  /* footer {
    margin-top: 2300px;
  } */
}

@media screen and (max-width: 360px) {
  nav {
    width: auto;
  }

  .menu {
    margin-left: 0px;
    font-size: 1.5rem;
  }
  .logo {
    margin-left: 30px;
  }

  .total {
    margin-left: 15px;
  }
  .total img {
    margin-left: -5px;
  }
  .product-card {
    width: auto;
    height: auto;
  }
}

/* @media screen and (min-width: 740px) {
  nav {
    width: auto;
  }
  .logo {
    margin-left: 200px;
  }
  .total-p {
    margin-left: 150px;
  }

  .sorting-nav ul {
    left: 30px;
  }

  .products-container {
    width: auto;
    grid-template-columns: repeat(2, 1fr);
    top: 10px;
    left: 50px;
  }
  .quickviewContainer {
    visibility: hidden;
  }

  footer ul {
    width: auto;
    left: 0;
  }

  footer p {
    left: 240px;
  }
  .push {
    height: 1472px;
  }
} */
